<div class="content">
    <img class="icon" src="../../../assets/img/icon.png" alt="icon-header">
    <h1 class="title-name">Cursos Online Luis Muñoz</h1>
    <div class="img-nav">
        <img class="img-header" src="../../../assets/img/header_001.jpg" alt="img-header">
        <div *ngIf="isDesktop" class="aling-nav">
            <ul>
                <li (click)="goToMenu(li.id)" *ngFor="let li of navList">{{li.title}}</li>               
            </ul>
        </div>

        <div  *ngIf="isDesktop"  class="content-lema">
            <h1 class="title-lema">Conecta. Aprende. Avanza</h1>
            <h3 class="subtitle-lema">Tu camino hacia el conocimiento en línea.</h3>
        </div>

        <div class="aling-nav" *ngIf="isMobile">
            <ul>
                <li (click)="goToMenu(li.id)" *ngFor="let li of navList">{{li.title}}</li>               
            </ul>

        </div>
    </div>   
</div>
