
<div class="content-about">
    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h1 class="intro-a">La importancia de ofrecer conocimiento</h1>
        </ion-col>
    </ion-row>    

    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h1 class="intro"> Hace años, me encontraba inmerso en el mundo de la programación, tanto como estudiante ávido de conocimiento como profesional en busca de crecimiento. Durante este tiempo, experimenté de primera mano las oportunidades y los desafíos que ofrece este campo apasionante.Sin embargo, a medida que avanzaba en mi carrera, me di cuenta de una brecha significativa en el acceso a la educación en programación. Muchas personas, ya sea por limitaciones geográficas, financieras o de otro tipo, no tenían la oportunidad de acceder a una educación de calidad en este campo crucial.</h1>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h1 class="intro"> Fue entonces cuando surgió la chispa de inspiración: ¿Qué pasaría si pudiera crear una plataforma en línea que rompiera las barreras tradicionales de la educación y ofreciera cursos de programación accesibles para cualquier persona en cualquier parte del mundo?
                Con esta visión en mente, me embarqué en el emocionante viaje de crear una web con cursos online sobre programación. Mi objetivo era claro: democratizar el conocimiento, proporcionar las herramientas y recursos necesarios para que cualquier persona, independientemente de su origen o circunstancias, pudiera aprender a programar y transformar sus vidas a través del poder de la tecnología.</h1>
        </ion-col>
    </ion-row>  
    
    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h1 class="intro"> Lo que me motivó a iniciar esta web no fue solo el deseo de construir un negocio exitoso, sino el firme compromiso de marcar una diferencia positiva en la vida de las personas y en la industria de la tecnología en su conjunto. Y mientras continuamos creciendo y evolucionando, esa motivación sigue siendo el motor que impulsa cada paso que damos hacia adelante.</h1>
        </ion-col>
    </ion-row>  

   <div class="center">
    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h1 class="instructor">Instructor</h1>
        </ion-col>
       
    </ion-row>
    <ion-row>
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <img class="img-why" src="../../../assets/img/LuisM.jpeg" alt="img-LM"> 
        </ion-col>    
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h1 class="descripcion-a">Luis Muñoz Araujo</h1>
        </ion-col>   
        <ion-col size-xs="12" size-md="12" size-lg="12" size-xl="12">
            <h1 class="descripcion-a space">Data Engineer</h1>
        </ion-col>          
    </ion-row>
   </div>
  
</div>


