.content-about{
    width: 80%;
    margin: 0px auto;
    margin-top: 87px;   
    justify-content: center;
    margin-bottom: 30%;
  }
  
  img{
    width: 150px;
    height: 150px;
    text-align: center;
  }
  
  .col{
    display: flex;
    justify-content: center;
  }
  
  .form-group {
      margin-bottom: 1rem;
    }
    
    .btn-primary {
      background-color: #fca311;
      border-color: #fca311;
    }
    
    .btn-primary:hover {
      background-color: #e88b00;
      border-color: #e88b00;
    }
