 <app-header></app-header>
    
<div class="content">
    <router-outlet></router-outlet>   
</div>

<div class="footer">
    <h1 class="footer-text1">luismunozaraujo.com 2024</h1>
    <h1 class="footer-text1">El contenido de los cursos es propiedad de Luis Muñoz y (dominio)</h1>
    <h1 class="footer-text1">No está permitida su reproducción total o parcial salvo expresa autorización del autor.</h1>
</div>  

<div class="whatsapp-container">
    <img class="whatsapp-link" src="../assets/img/whatsapp.png" alt="icon whatsapp">
</div>
    
 
